.footer {
    background-color: #18191c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 6%;
    color: #767f8c;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    margin-bottom: 0px;
  }
  
  .footer_left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer_left .logo {
    display: flex;
    align-items: flex-start;
  }
  
  .footer_left .logo img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .footer_contact {
    margin-top: 20px;
    font-weight: normal !important;
    margin-bottom: 35px;
  }
  
  .footer .copyright {
    display: flex;
    justify-content: space-between !important;
    margin-top: 15px;
  }
  
  .footer .copyright img {
    width: 110px;
    object-fit: contain;
    object-position: center;
  }
  
  .footer_separator {
    border: 0.1px solid #2f3338;
    position: relative;
    left: -7%;
    width: 100vw;
  }
  
  